* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white: #fff;
  --blue: #5f8ee4; 
  --dark-blue: #282829;
  --gray-font: #797878;
  --red: #e4655f; 
  --light-grey: #f0eaea;
  --bg-todo: #e9e6e6;
}

body {
  background: var(--dark-blue);
  color: var(--gray-font);
}

body, input, textarea, select, button {
  font-family: 'Roboto', sans-serif;
}

button {
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}

/* Buttons */
a.btn {
  width: 80px;
  height: 40px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

a.btn.default {
  background: brown;
  color: #fff;

  transition: all ease 0.5s;
}

a.btn.default:hover {
  background: rgb(102, 50, 50);
}

a.btn.add {
  background: darkorchid;
  color: #fff;

  transition: all ease 0.5s;
}

a.btn.add:hover {
  background: rgb(108, 66, 129);
}

a.btn.back {
  background: darkgreen;
  color: #fff;

  transition: all ease 0.5s;
}

a.btn.back:hover {
  background: rgb(23, 75, 23);
}

a.btn.create {
  background: darkslategrey;
  color: #fff;

  transition: all ease 0.5s;
}

a.btn.create:hover {
  background: rgb(34, 48, 48);
}

@media(max-width: 1080px) {
  html {
    font-size: 93.75%;
  }
}

@media(max-width: 720px) {
  html {
    font-size: 87.5%;
  }
}