.main {
  background: var(--light-grey);
  width: 800px;
  margin: 100px auto;
  padding: 30px;
}

.main_header {
  display: flex;
  justify-content: space-between;
}

.main h2 {
  color: var(--blue)
}