.container ul {
  display: flex;
  flex-direction: column;
}

.container ul li { 
  background: var(--bg-todo);
  margin-top: 10px;
  padding: 20px;
  font-size: 1rem;
  /* border-bottom-right-radius: 20px;
  border-top-right-radius: 20px; */
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  cursor: pointer;
  display: grid;
  grid-template-columns: 9fr 1fr;
}

.action {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 10px;
}

.action a:first-child {
  margin-right: 10px;
  color: darkslateblue;
}


.action a:last-child {
  color: darkred;
}

.action a > svg {
  width: 25px;
}

.noTodoFound {
  margin-top: 10px;
}